# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
microservices/*/venv/

# Environment variables
.env

# NodeJS
node_modules/

# Build folders
dist/
build/

# VS Code settings
.vscode/

# Docker logs / data
*.log

# MacOS crap (если откроешь папку в macOS)
.DS_Store

# Byte-compiled, optimized, DLL
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints
